.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.main-info{
    display: flex;
    padding-bottom: 30px;
    gap: 10px;
}
.secondary-info{
    padding-bottom: 30px;
    width: 100%;
}
.gender{
    padding-bottom: 30px;
    width: 100% ;
}
.genders{
    width: 100%;
}
.job{
    width: 100%;
    padding-bottom: 10px;
}
.progLang{
    width: 100%;
}
.checbox-lang{

}
.text{
    padding-bottom: 5px;
    width: 100%;
    display:flex;
    flex-direction: column;
}

.secondary-info{
    padding-bottom: 10px;
    display: flex;
    gap: 15px;
}
.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: orangered;
}
.checkbox-basic:checked {
    background-color: orangered;
}
@media (max-width: 900px){

}